.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {
    padding: 5px;

}

.dialog a {
    color: #1d1b57;
    text-decoration: none;

}

.dialog a.activeLink {
    color: gold;
}


.messages {
    padding: 10px;
}

.messages .message {
    padding: 3px;
}

